<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Configuration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/api/kubectl-gui/v1/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Configuration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/api/kubectl-gui/v1/navigation">Navigation</a>
        </li>
    </ul>
        <div>
            <h1>Select existing config</h1>
        </div>
        <div>
            <form>
                <select class="form-control" name="existing_config">
                    <option selected disabled>Choose configuration...</option>
                    <!--/*@thymesVar id="configsFileNames" type="java.util.List"*/-->
                    <option th:each="configFileName : ${configsFileNames}" data-th-text="${configFileName}" th:value="${configFileName}"></option>
                </select>
                <button type="submit" formmethod="POST" formaction="/api/kubectl-gui/v1/configuration/use-existing" class="btn btn-primary btn-lg">Use configuration</button>
            </form>
        </div>
        <form>
            <div>
                <h1>Cluster settings</h1>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="server_url" placeholder="example.com:6443" name="serverUrl" th:value="*{config.serverUrl}">
                <label for="server_url">Server url</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="cluster_name" placeholder="kuber-ora2pg" name="clusterName" th:value="*{config.clusterName}">
                <label for="cluster_name">Cluster name</label>
            </div>
            <div>
                <h1>Context settings</h1>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="context_name" placeholder="kuber-ora2pg" name="contextName" th:value="*{config.contextName}">
                <label for="context_name">Context name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="namespace" placeholder="ora2pg-namespace" name="namespace" th:value="*{config.namespace}">
                <label for="namespace">Namespace</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="user" placeholder="k8s-deployer" th:value="*{config.user}" name="user">
                <label for="user">User</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="token" placeholder="(Access token)" name="token" th:value="*{config.token}">
                <label for="token">Access token</label>
            </div>
            <button type="submit" formmethod="POST" formaction="/api/kubectl-gui/v1/configuration/update" class="btn btn-primary btn-lg">Update configuration parameters</button>
            <div>
                <h1>Save configuration</h1>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="save_config" placeholder="my new config" name="config_name">
                <label for="save_config">Config name</label>
            </div>
            <button type="submit" formmethod="POST" formaction="/api/kubectl-gui/v1/configuration/save" class="btn btn-primary btn-lg">Save configuration</button>
        </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>